body {
  width: 1024px;
  margin: 0px;
}

footer {
	background-image: url(blackops_ft.jpeg);
	background-size: cover;
	height: 300px;
	color: white;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

#footer_text_container {
	grid-column:2/4;
	grid-row:2/3;
}
