body {
  width: 1024px;
  magin: 0px;
}

footer {
	background-image: url(blackops_ft.jpeg);
	background-size: cover;
	height: 300px;
	color: white;
}

footer div {
	width: 400px;
	height: inherit;
	margin-left: 150px;
}

footer div p {
	position: absolute;
	bottom: 100px;
	width: inherit;
}

footer div h2 {
	position: absolute;
	bottom: 186px;
	width: inherit;
}
